 body, body > p, body > ol, body > ul, body > td {margin: 8px !important}
#banner {
  position: relative;
  min-height: 40px;
  background: #282d28;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
  }
}
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
#notice:empty {
  display: none
}
#columns {
  display: flex;
}
#side-nav {
  background: #6f776f;
  padding: 1em 2em;
  form, div {
    display: inline;
  }
  input {
    font-size: small;
  }
  #cart {
    font-size: smaller;
    color: white;
    table {
    border-top:
    1px dotted #595;
    border-bottom: 1px dotted #595;
    margin-bottom: 10px;
    }
  }
  ul{
    padding: 0;
    li {
      list-style:none;
      a{
        color: white;
        line-height: 2;
      }
    }
  }
}
#main {
  padding: 1em;
  flex: 1;
  background: white;
  .entry {
    background: #f1f0f0;
    padding: 1em;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.48);
    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.48);
  }
  .entry + .entry {
      margin-top: 2em;
  }
  .price {
    font-size: 28px;
    font-weight: bold;
    color: dimgray;
  }
  form.button_to {
    display: inline;
    float: right;
    .add-to-cart-button{
      background: #3498db;
      border-radius: 6px;
      color: #ffffff;
      font-size: 15px;
      padding: 10px;
      box-shadow: none;
    }

  }
}

@media all and (max-width: 800px){
  columns{
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 500px) {
  #banner {
    height: 1em;
  }

  #banner .title {
    display: none;
  }
}
