// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {
  table#product-table {
    border-collapse: collapse;
    border: 1px solid grey;
  }
  table tr td {
    padding: 5px;
    vertical-align: top;
  }
  .list-image {
    width: 60px;
    height: 70px;
  }
  .list-description{
    width:  60%;
    dl{
      amrgin: 0;
    }
    dt {
      color: #244;
      font-weight: bold;
      font-size: larger;
    }
    dd {
      margin: 0;
    }
  }
  .list-actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }
  .list-line-even {
    background: #e0f8f8;
  }
  .list-line-odd {
    background: #f8b0f8;
  }
}
