<p id="notice"><%= notice %></p>
<h1>Your Pragmatic Catalog</h1>
<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <div class="entry">
        <%= image_tag(product.image_url) %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= product.price %></span>
          <%= button_to 'Add to Cart', line_items_path(product_id: product), class: 'add-to-cart-button', remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
